@use "../../../../styles/globals.module.scss";

.hero {
  width: 1400px;
  position: relative;
  box-sizing: border-box;
  margin: 6rem auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@keyframes upDown {
  0% {
    transform: translate(0rem);
  }
  50% {
    transform: translateY(0.8rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.backgroundImage {
  display: flex;
  align-self: flex-end;
  animation: upDown 3s ease-in-out infinite;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 60%;
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.cta {
  display: flex;
  gap: 1rem;
}

.howItWorks {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: globals.$black;
  text-decoration: none;
}

@media (max-width: 1500px) {
  .hero {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .titles {
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .titles {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 610px) {
  .hero {
    padding: 6rem 2rem;
  }
  .titles {
    h1 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 486px) {
  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cta {
    flex-direction: column;
    align-items: center;
  }
}
