@use "../../../../styles/globals.module.scss";

.container {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.subheading {
  color: #666;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.statBox {
  background: #f1f5f9;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #ecf0f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 200px;
}

.statNumber {
  font-size: 1.75rem;
  font-weight: bold;
  color: globals.$black;
  margin-bottom: 0.5rem;
}

.vendors {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.vendorCard {
  background-color: #f9fafb;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 1rem;
  height: 6.5rem;
  .initials {
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .link {
    display: flex;
    gap: 0.5rem;
    display: flex;
    .namesUsernameCounters {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .namesUsername {
      display: flex;
      flex-direction: column;
      strong {
        color: #000000;
      }
      span {
        font-size: 1rem;
        color: #696969;
      }
    }
  }

  .counters {
    display: flex;
    gap: 0.5rem;
    color: #000;
    .counter {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }
}
