@use "../../../styles/globals.module.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: globals.$semi-transparent-background;
  z-index: 9;
}

.container {
  display: grid;
  grid-template-columns: 2rem 25rem;
  position: fixed;
  top: 0;
  right: -27rem;
  width: 27rem;
  height: 100vh;
  z-index: 9;
  transition: right ease-in-out 0.5s;
  animation: opening 0.3s ease-out;
}

.closeButton {
  background-color: globals.$secondary;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
  border: none;
  svg {
    color: globals.$primary;
  }
}

.opened {
  right: 0;
}

.closed {
  right: -27rem;
}

@keyframes opening {
  0% {
    right: -27rem;
  }
  100% {
    right: 0;
  }
}

.content {
  width: 25rem;
  background-color: globals.$primary;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.accountInfo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: fit-content;
  width: 15rem;
  overflow-x: hidden;
  background-color: transparent;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 0.5em;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: globals.$primary-darken-15;
  }
}

.profileColorProvider {
  display: flex;
  position: relative;
}

.profileColor {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.provider {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: globals.$white;
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid globals.$black;
}

.address {
  font-size: 1rem;
  text-overflow: ellipsis;
  width: 11rem;
  overflow: hidden;
  text-align: start;
}

.disconnect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  border: none;
  padding: 0.4em;
  background-color: globals.$secondary;
  cursor: pointer;
  svg {
    color: globals.$primary;
  }
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.5rem;
}

.row {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.valueContainer {
  display: flex;
  gap: 1px;
  flex-direction: column;
  background-color: globals.$primary-darken-15;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5em;
  .label {
    font-size: 0.9rem;
  }
  .value {
    font-size: 1.8rem;
  }
}

.ethereumBgColor {
  background-color: #7c86c8;
}

.polygonBgColor {
  background-color: #631cf1;
}
