@use "../../../styles/globals.module.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
}

.heading {
  font-size: 1.2rem;
}

.form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #575757;
  border-radius: 0.4rem;
  box-shadow: 0 0 4px globals.$box-shadow-default-color;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.submit {
  align-self: flex-end;
}

.resetBtn {
  font-size: 1rem;
  // width: 100%;
  // height: 100%;
  background-color: transparent;
  border-radius: 0.4rem;
  border: none;
  font-weight: 500;
  color: #acacac;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-self: center;
  transform: translateY(0.75rem);
}

@media (max-width: 1930px) {
  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .submit {
    width: 100%;
  }

  .resetBtn {
    transform: unset;
  }
}

@media (max-width: 1730px) {
  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .submit {
    width: 100%;
  }
}

@media (max-width: 890px) {
  .container {
    width: 100%;
  }
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
  .submit {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .submit {
    width: 100%;
  }
}
