@use "../../styles/globals.module.scss";

.container {
  border: 1px solid globals.$black;
  border-radius: 0.4em;
  min-height: calc(globals.$main-content-height - 1rem);
  max-height: calc(globals.$main-content-height - 1rem);
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  display: grid;
  grid-template-rows: 3rem 1fr 4rem;
}

.header {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid globals.$black;
}

.vendor {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  .profileColor {
    height: 1.8rem;
    min-height: 1.8rem;
    width: 1.8rem;
    min-width: 1.8rem;
    border-radius: 100%;
    border: 1px solid globals.$black;
  }
  .names {
    display: flex;
    flex-direction: column;
    .username {
      font-size: 1rem;
    }
    .status {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      svg {
        color: globals.$status-offline;
      }

      .lastSeen {
        font-size: 0.8rem;
      }
    }
  }
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.content {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }
}

.inputs {
  display: flex;
  border-top: 1px solid globals.$black;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
}
