@use "../../styles/globals.module.scss";

.container {
  border: 1px solid globals.$black;
  border-radius: 0.4em;
  min-height: 50rem;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  display: grid;
  grid-template-rows: 3rem 1fr 6rem;
}

.header {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid globals.$black;
}

.vendor {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  .profileColor {
    height: 1.8rem;
    min-height: 1.8rem;
    width: 1.8rem;
    min-width: 1.8rem;
    border-radius: 100%;
    border: 1px solid globals.$black;
  }
  .names {
    display: flex;
    flex-direction: column;
    .username {
      font-size: 1rem;
    }
    .online {
      svg {
        color: globals.$status-online;
      }
    }
    .offline {
      svg {
        color: globals.$status-offline;
      }
    }
    .status {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      .lastSeen {
        font-size: 0.8rem;
      }
    }
  }
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }
}

.message {
  display: flex;
  gap: 0.2rem;
  align-items: flex-end;
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: fit-content;
  max-width: 70%;
  .message {
    border-radius: 0.4rem;
    padding: 0.4em;
    width: fit-content;
  }
}

.usernameTime {
  display: flex;
  gap: 0.2rem;
  align-self: flex-end;
}

.time {
  font-size: 0.65rem;
}

.sender {
  align-self: flex-end;
  margin-right: 0.5rem;
  .message {
    background-color: #a5d3ff;
    align-self: flex-end;
  }
}

.receiver {
  margin-left: 0.5rem;
  align-self: flex-start;
  .usernameTime {
    align-self: flex-start;
  }
  .message {
    background-color: #dedede;
  }
}

.inputs {
  display: flex;
  border-top: 1px solid globals.$black;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .textarea {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    field-sizing: content;
    width: 100%;
    resize: none;
    padding: 0.5em;
    field-sizing: content;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: globals.$secondary;
    }
    &:focus {
      outline: none;
    }
  }
}

// @media (max-height: 930px) {
//   .container {
//     min-height: 90vh;
//   }
// }
