@use "../../../../../styles/globals.module.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1.5rem;
}

.statement {
  font-size: 1rem;
}

.tags {
  display: flex;
  gap: 0.3rem;
  .tag {
    list-style: none;
    padding: 0.2em;
    border-radius: 0.3em;
    border: 1px solid globals.$black;
    box-shadow: 0 0 2px 1px globals.$box-shadow-default-color;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.subHeading {
  font-size: 1rem;
}

.rowSection {
  display: flex;
  gap: 1rem;
}
