.item {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0.4rem;
  padding: 1rem 0.7rem;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: flex-end;
}

.action {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
