[submodule "api-chat-cryptic-activist"]
	path = api-chat-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-chat-cryptic-activist.git

[submodule "api-user-cryptic-activist"]
	path = api-user-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-user-cryptic-activist.git

[submodule "api-offer-cryptic-activist"]
	path = api-offer-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-offer-cryptic-activist.git

[submodule "api-trade-cryptic-activist"]
	path = api-trade-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-trade-cryptic-activist.git

[submodule "api-cryptocurrency-cryptic-activist"]
	path = api-cryptocurrency-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-cryptocurrency-cryptic-activist.git
