[submodule "api-chat-cryptic-activist"]
	path = api-chat-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-chat-cryptic-activist.git
  branch = main
[submodule "api-cryptocurrency-cryptic-activist"]
	path = api-cryptocurrency-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-cryptocurrency-cryptic-activist.git
  branch = main
[submodule "api-fiat-cryptic-activist"]
	path = api-fiat-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-fiat-cryptic-activist.git
  branch = main
[submodule "api-offer-cryptic-activist"]
	path = api-offer-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-trade-cryptic-activist.git
  branch = main
[submodule "api-user-cryptic-activist"]
	path = api-user-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-user-cryptic-activist.git
  branch = main
[submodule "cryptic-activist-catalog"]
	path = cryptic-activist-catalog
	url = git@github.com:Cryptic-Activist/cryptic-activist-catalog.git
  branch = main
[submodule "api-trade-cryptic-activist"]
	path = api-trade-cryptic-activist
	url = git@github.com:Cryptic-Activist/api-trade-cryptic-activist.git
