node_modules
yarn-error.log
yarn.lock

frontend-public
frontend-admin
!/libraries/base-ca
!/libraries/cryptic-utils

**/dev.*.env
!/envs/sample/dev.*.env
**/prod.*.env

/nginx/logs/*.log
envs/prod.env
