version: "3.8"

networks:
  postgresql-network:
    driver: bridge

volumes:
  postgres-db:
    driver: local

services:
  postgres:
    image: postgres:latest
    container_name: postgresql
    restart: always
    env_file:
      - .env
    volumes:
      - ${POSTGRES_VOLUME}:/data/postgres
    ports:
      - "${DB_PORT}:5432"
    networks:
      - postgresql-network

  pgadmin4:
    image: dpage/pgadmin4
    container_name: pgAdmin4
    restart: always
    env_file:
      - pgAdmin.env
    ports:
      - "5050:80"
    networks:
      - postgresql-network

  prisma:
    image: prismagraphql/prisma:1.8
    restart: always
    ports:
      - "4466:4466"
    networks:
      - postgresql-network
    depends_on:
      - postgres
    environment:
      PRISMA_CONFIG: |
        managementApiSecret: someSecret
        port: 4466
        databases:
          default:
            connector: postgres
            host: ${DB_HOST}
            port: ${DB_PORT}
            user: ${POSTGRES_USER}
            password: ${POSTGRES_PASSWORD}
            migration: true
            connectionLimit: 2

  chat-api:
    build:
      context: api-chat-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - files/api-chat-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-chat-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - postgres
      - user-api
    entrypoint: ["sh", "-c", "npx prisma generate && npm run dev"]

  cryptocurrency-api:
    build:
      context: api-cryptocurrency-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    env_file:
      - files/api-cryptocurrency-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-cryptocurrency-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - postgres
      - user-api
    entrypoint: ["sh", "-c", "npx prisma generate && npm run dev"]

  fiat-api:
    build:
      context: api-fiat-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    env_file:
      - files/api-fiat-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-fiat-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - postgres
      - user-api
    entrypoint: ["sh", "-c", "npx prisma generate && npm run dev"]

  offer-api:
    build:
      context: api-offer-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
    env_file:
      - files/api-offer-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-offer-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - postgres
      - user-api
    entrypoint: ["sh", "-c", "npx prisma generate && npm run dev"]

  trade-api:
    build:
      context: api-trade-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5004:5004"
    env_file:
      - files/api-trade-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-trade-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - postgres
      - user-api
    entrypoint: ["sh", "-c", "npx prisma generate && npm run dev"]

  user-api:
    build:
      context: api-user-cryptic-activist/
      dockerfile: Dockerfile
    ports:
      - "5005:5005"
    env_file:
      - files/api-user-cryptic-activist.env
    networks:
      - postgresql-network
    volumes:
      - ./api-user-cryptic-activist:/app
      - /app/node_modules
    depends_on:
      - prisma
    entrypoint:
      [
        "sh",
        "-c",
        "npx prisma generate && npx prisma migrate dev && npm run dev",
      ]

  catalog:
    build:
      context: cryptic-activist-catalog/
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - files/cryptic-activist-catalog.env
    networks:
      - postgresql-network
    volumes:
      - ./cryptic-activist-catalog:/app
      - /app/node_modules
    depends_on:
      - user-api
      - chat-api
      - cryptocurrency-api
      - fiat-api
      - offer-api
      - trade-api

  admin-catalog:
    build:
      context: admin-cryptic-activist-catalog/
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - files/admin-cryptic-activist-catalog.env
    networks:
      - postgresql-network
    volumes:
      - ./admin-cryptic-activist-catalog:/app
      - /app/node_modules
    depends_on:
      - user-api
      - chat-api
      - cryptocurrency-api
      - fiat-api
      - offer-api
      - trade-api
      - catalog
