networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
  backend-uploads:
    driver: local

services:
  # pgadmin4:
  #   image: dpage/pgadmin4
  #   container_name: pgAdmin4
  #   restart: always
  #   env_file:
  #     - envs/pgAdmin.env
  #   ports:
  #     - "5050:80"
  #   networks:
  #     - app-network

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    env_file:
      - envs/postgres.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  # backend:
  #   container_name: backend
  #   build:
  #     context: .
  #     dockerfile: backend/prod.Dockerfile
  #     target: production
  #   restart: always
  #   ports:
  #     - "5000:5000"
  #   volumes:
  #     - backend-uploads:/app/uploads
  #   env_file:
  #     - envs/backend.env
  #   environment:
  #     - NODE_ENV=production
  #     - NODE_OPTIONS=--max-old-space-size=8192
  #   networks:
  #     - app-network
  #   depends_on:
  #     - postgres


  frontend-public:
    container_name: public
    build:
      context: frontend/public/
      dockerfile: prod.Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - envs/frontend-public.env
    networks:
      - app-network
    # depends_on:
    #   - backend

  frontend-admin:
    container_name: admin
    build:
      context: frontend/admin/
      dockerfile: prod.Dockerfile
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - envs/frontend-admin.env
    networks:
      - app-network
    # depends_on:
    #   - backend

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      # - ./nginx/ssl:/etc/nginx/ssl
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - envs/nginx.env
    networks:
      - app-network
    depends_on:
      # - backend
      - frontend-public
      - frontend-admin
