@use "../../../styles/globals.module.scss";

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }
  li {
    list-style: none;
    margin-right: 5px;
    button {
      cursor: pointer;
      font-size: globals.$font-size-m;
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: transparent;
      border: none;
      border-radius: 0.4em;
      width: 100%;
      text-align: left;
      padding: 1em;
      transition: background-color 0.15s ease-out;
      &:hover {
        background-color: #e8e8e8;
      }
      &:active {
        background-color: #d9d9d9;
      }
    }
  }
}
