/node_modules

/dist

.env
.env.development

/uploads/identicons/*.png
/uploads/identicons/*.jpg
/uploads/identicons/*.jpeg
/uploads/identicons/*.gif

/libraries


# Sentry Config File
.sentryclirc

/src/uploads/*
!/src/uploads/.gitkeep