@use "../../../styles/globals.module.scss";

.container {
  width: 1400px;
  margin: 0 auto 1rem auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 1rem 0;
}

.row {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.trade {
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid globals.$black;
  background-color: globals.$white;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statement,
.instructions {
  font-size: 1rem;
  width: fit-content;
  height: fit-content;
}

.heading {
  font-size: 1.2rem;
}

.subHeading {
  font-size: 1rem;
}

.warning {
  padding: 0.5em;
  color: #a08017;
  background: #ffcd2b1c;
  border: 1px solid #b99319;
  border-radius: 0.4rem;
}

.paidButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  strong {
    font-size: 1rem;
  }
  .remainingTime {
    span {
      font-size: 0.8rem;
    }
    .time {
      font-size: 0.9rem;
    }
  }
}

.tags {
  display: flex;
  gap: 0.3rem;
  .tag {
    list-style: none;
    padding: 0.2em;
    border-radius: 0.3em;
    border: 1px solid globals.$black;
    box-shadow: 0 0 2px 1px globals.$box-shadow-default-color;
  }
}

.labelContentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
