@use "../../../styles/globals.module.scss";

.container {
  padding: 1rem 0;
  width: 1400px;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #333;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.intro {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
}

.noMessages {
  font-size: 1.1rem;
  color: #777;
}

.notificationListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notificationList {
  display: grid;
  gap: 1rem;
}

.notificationCard {
  border: 1px solid #ddd;
  border-left-width: 5px;
  border-radius: 0.8rem;
  padding: 1.25rem;
  transition: background-color 0.3s;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notificationCardHeader {
  display: flex;
  gap: 1rem;
}

.notificationIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 100%;
  box-shadow: 0 2px 4px globals.$box-shadow-default-color;
  height: 3.5rem;
  width: 3.5rem;
  align-self: flex-end;
}

.notificationTitleDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.timeAgo {
  font-size: 0.9rem;
}

.actionBtns {
  display: flex;
  gap: 0.5rem;
  a,
  button {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  a {
    box-shadow: 0 2px 4px globals.$box-shadow-default-color;
  }
  button {
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    color: #616161;
    &:hover {
      background-color: #e8e8e8;
      transition: all 0.3s ease;
    }
    &:active {
      background-color: #dfdfdf;
      transition: all 0.1s ease;
    }
  }
}

.unread {
  background-color: #f5f5f5; /* light yellow for unread messages */
}

.read {
  background-color: #f1f5f9; /* subtle gray for read messages */
}

.notificationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.notificationTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: #1e3a8a;
}

.notificationDate {
  font-size: 0.9rem;
  color: #555;
}

.notificationMessage {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}
