@use "../../styles/globals.module.scss";

.container {
  display: flex;
  gap: 0.5rem;
}

.countStatement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.count {
  font-size: 1.3rem;
}

.statement {
  font-size: 0.85rem;
  color: globals.$secondary;
}

.positive,
.negative,
.neutral {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 4rem;
  svg {
    font-size: 1.5rem;
  }
}

.positive {
  border-color: rgba(globals.$feedback-positive, 0.55);
  background-color: rgba(globals.$feedback-positive, 0.1);
  color: globals.$feedback-positive;
}

.negative {
  border-color: rgba(globals.$feedback-negative, 0.55);
  background-color: rgba(globals.$feedback-negative, 0.1);
  color: globals.$feedback-negative;
}

.neutral {
  border-color: rgba(globals.$feedback-neutral, 0.55);
  background-color: rgba(globals.$feedback-neutral, 0.1);
  color: globals.$feedback-neutral;
}

.dialogContainer {
  display: flex;
  background-color: globals.$white;
  border-radius: 0.4em;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  border-radius: 0.4em;
  width: 10rem;
  text-align: center;
}
