@use "../../styles/globals.module.scss";

.button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.primary {
  background-color: globals.$secondary;
  color: globals.$primary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.secondary {
  background-color: globals.$primary;
  color: globals.$secondary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.ghost {
  cursor: default;
  background-color: globals.$white;
  color: globals.$secondary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}

.danger {
  background-color: globals.$danger;
  color: globals.$white;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  border: 1px solid globals.$black;
  font-weight: 600;
}

.alert {
  background-color: globals.$trade-status-disputed;
  color: globals.$white;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  font-weight: 600;
}

.transparent {
  background-color: transparent;
  color: globals.$secondary;
  border: none;
  &:hover {
    background-color: globals.$hover-button-background-color;
  }
}

.disabled {
  color: color-mix(in srgb, currentColor 50%, transparent);
  background-color: #edbe28;
}

.gradient {
  background: globals.$primary-gradient;
  color: globals.$primary;
  border: 1px solid globals.$secondary;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
}
