@use "../../../styles/globals.module.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.labelLinkContainer {
  display: flex;
  justify-content: space-between;
  a {
    color: globals.$primary;
    text-decoration: none;
    font-weight: 700;
  }
}

.tagsList {
  display: flex;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.tagItem {
  list-style: none;
  padding: 0.4em;
  border-radius: 0.4em;
  background-color: #dedede;
}

.statement {
  font-size: 1rem;
  color: globals.$text-description-color;
}

@media (max-width: 768px) {
  .input {
    input {
      width: 100% !important;
    }
  }
}
