@use "../../styles/globals.module.scss";

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.disputesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1290px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .statsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
