.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subheading {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #666;
}

.steps {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  background-color: #f9fafb;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.stepNumber {
  font-size: 1rem;
  font-weight: bold;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  flex-shrink: 0;
}

.stepTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

@media (max-width: 825px) {
  .steps {
    flex-direction: column;
  }
}
