@use "../../../styles/globals.module.scss";

.container {
  background-color: globals.$primary;
  border: 1px solid globals.$secondary;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  z-index: 4;
  li {
    position: relative;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    a,
    button {
      box-sizing: border-box;
      padding: 0.6rem;
      width: 100%;
      background-color: transparent;
      font-size: 1rem;
      text-align: left;
      color: globals.$secondary;
      cursor: pointer;
      &:hover {
        background-color: globals.$hover-button-background-color;
      }
    }
    a {
      text-decoration: none;
    }
    button {
      border: none;
    }
  }
}

.notificationInidicator {
  position: absolute;
  right: 0.1rem;
}
