@use "../../../styles/globals.module.scss";

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: globals.$semi-transparent-background;
  z-index: 9;
}

.container {
  background-color: globals.$white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0px 0px 6px 0px globals.$box-shadow-default-color;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 10;
}

.heading {
  font-size: globals.$font-size-l;
  font-weight: 600;
}

.search {
  display: flex;
  width: 100%;
  border-radius: 0.4em;
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-out;
  &:focus-within {
    background-color: #e8e8e8;
  }
  input {
    border: none;
    font-size: globals.$font-size-l;
    width: 100%;
    background-color: transparent;
    padding: 1em;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: globals.$font-size-l;
    }
  }
  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1em 2em;
    svg {
      font-size: globals.$font-size-m;
    }
  }
}
