@use "../../styles/globals.module.scss";

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: globals.$box-shadow-default-color;
  top: 0;
  left: 0;
  z-index: 999;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: globals.$primary;
  z-index: 9999;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px globals.$box-shadow-default-color;
  // width: 60vw;
  // height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      transform: rotate(45deg);
    }
  }
}

.content {
  background-color: #fafafa;
  width: 100%;
  max-height: min-content;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 6px 2px globals.$box-shadow-default-color;
  overflow: hidden;
  display: flex;
}
