@use "../../../../styles/globals.module.scss";

.offerListSection {
  border-top: 1px solid globals.$secondary;
  border-bottom: 1px solid globals.$secondary;
  height: 40rem;
  background-color: globals.$grey-background;
  box-shadow: inset 0px 0px 6px 0px globals.$box-shadow-default-color;
  display: flex;
  padding: 2.5rem 0;
}

.container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .offerListSection {
    height: auto;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}
