@use "../../../../styles/globals.module.scss";

.container {
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid globals.$black;
  background-color: globals.$white;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.howMuch {
  grid-area: howMuch;
  grid-row: 1;
  grid-column: 1;
  justify-content: space-between;
  height: 100%;
}

.vendor {
  grid-area: vendor;
  grid-row: 2;
  grid-column: 1;
  height: 100%;
}

.offer {
  grid-area: offer;
  grid-row: 1 / span 2;
  grid-column: 2;
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: globals.$secondary;
  }
}

.heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.label {
  font-weight: 600;
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .offer {
    max-height: unset;
  }
}
