@use "../../../../styles/globals.module.scss";

.container {
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid globals.$black;
  background-color: globals.$white;
  box-shadow: 0px 0px 4px 1px globals.$box-shadow-default-color;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.howMuch {
  grid-area: howMuch;
  grid-row: 1;
  grid-column: 1;
  justify-content: space-between;
}

.vendor {
  grid-area: vendor;
  grid-row: 2;
  grid-column: 1;
}

.offer {
  grid-area: offer;
  grid-row: 1 / span 2;
  grid-column: 2;
}

.heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.label {
  font-weight: 600;
  font-size: 0.9rem;
}
