* {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out,
    border 0.1s ease-in-out, border-color 0.1s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
}
