@use "../../styles/globals.module.scss";

.icon {
  color: globals.$grey;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.message {
  color: globals.$black;
  padding: 0.5rem;
  border-radius: 0.4em;
  background-color: globals.$grey-background;
  border: 1px solid globals.$grey;
  min-width: 10rem;
  z-index: 5;
}
