.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.willReceiveContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.willReceive {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  span {
    font-size: 1.5rem;
  }
  strong {
    font-size: 1rem;
  }
}

.row {
  display: flex;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputSymbolContainer {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.loggedInSeeRate {
  font-size: 1.1rem;
}
