@use "../../styles/globals.module.scss";

.container {
  width: 1400px;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.btns {
  display: flex;
  button {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .selected {
    border-bottom: 1px solid #000;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0 4px globals.$box-shadow-default-color;
}

.listItemHeader {
  background-color: #f4f4f4;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.listItemHeaderActions {
  display: flex;
  gap: 0.5rem;
}

.offerId {
  font-size: 1rem;
  color: #000;
}

.delete,
.edit {
  display: flex;
  gap: 0.8rem;
  button,
  a {
    font-size: 0.8rem;
    color: #646464;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 700;
    transition: 0.2s color ease-out;
    &:hover {
      color: globals.$feedback-negative;
    }
  }
}

.edit {
  a {
    display: flex;
    align-items: center;
    color: #646464;
    &:hover {
      color: globals.$blue-check;
    }
  }
}

.listItemContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
}

.infoSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  .info {
    font-size: 1rem;
  }
}

.tags {
  display: flex;
  gap: 0.5rem;
  .tag {
    list-style: none;
    padding: 0.2rem 0.3rem;
    border-radius: 0.3rem;
    background-color: #f4f4f4;
  }
}

.infiniteScrollList {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.filtersList {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  li {
    list-style: none;
    button {
      cursor: pointer;
      font-size: 1rem;
      padding: 0.6rem 0.7rem;
      border-radius: 2rem;
      border: 1px solid #c7c7c7;
    }
    .selected {
      background-color: globals.$black;
      border-color: globals.$black;
      color: globals.$primary;
    }
  }
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}
