.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 0.4rem;
  gap: 0.5rem;
}

.listHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  border-radius: 0.4rem;
}

.listHeaderItem {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  span {
    display: flex;
    align-items: center;
    font-weight: 600;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.3rem;
  max-height: 82vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
