@use "../../styles/globals.module.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  background-color: #fff;
  border: 1px solid #575757;
  border-radius: 0.4rem;
  box-shadow: 0 0 4px globals.$box-shadow-default-color;
}

.tableHead {
  tr {
    th {
      text-align: left;
      width: fit-content;
      padding: 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      span {
        margin-right: 0.5rem;
      }
      .sortUp {
        transform: translateY(7px);
      }
      .sortDown {
        transform: translateY(-1px);
      }
    }
  }
}

.tableBody {
  tr {
    &:hover {
      background-color: #f6f6f6;
      // &:not(:first-child) {
      //   border-left: 1px solid #f6f6f6;
      // }
    }
    td {
      text-align: left;
      width: fit-content;
      padding: 0.5rem;
      font-size: 1rem;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      &:first-child {
        max-width: 4rem;
      }
    }
  }
}

.view {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: #3b3b3b;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  &:hover {
    background-color: #e8e8e8;
    transition: all 0.3s ease;
  }
  &:active {
    background-color: #dfdfdf;
    transition: all 0.1s ease;
  }
}

.statusCell {
  display: flex;
  align-items: center;
  // justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.badge {
  padding: 0.4rem 0.4rem;
  border-radius: 1.25rem;
  font-size: 0.8rem !important;
  font-weight: 500;
}

.PENDING {
  background-color: globals.$trade-status-pending;
}
.IN_PROGRESS {
  background-color: globals.$trade-status-in-progress;
}
.COMPLETED {
  background-color: globals.$trade-status-completed;
  color: globals.$white;
}
.CANCELLED {
  background-color: globals.$trade-status-cancelled;
}
.DISPUTED {
  background-color: globals.$trade-status-disputed;
}
.EXPIRED {
  background-color: globals.$trade-status-expired;
}
.FAILED {
  background-color: globals.$trade-status-failed;
  color: globals.$white;
}

.PAYMENT_NOT_RECEIVED {
  background-color: globals.$dispute-type-payment-not-received;
  color: globals.$white;
}

.PAYMENT_FRAUD {
  background-color: globals.$dispute-type-payment-fraud;
  color: globals.$white;
}

.CRYPTO_NOT_RELEASED {
  background-color: globals.$dispute-type-crypto-not-released;
  color: globals.$black;
}

.INCORRECT_PAYMENT_AMOUNT {
  background-color: globals.$dispute-type-incorrect-payment-amount;
  color: globals.$black;
}

.PAYMENT_TO_WRONG_ACCOUNT {
  background-color: globals.$dispute-type-payment-to-wrong-account;
  color: globals.$black;
}

.FAKE_PAYMENT_PROOF {
  background-color: globals.$dispute-type-fake-payment-proof;
  color: globals.$white;
}

.LATE_PAYMENT {
  background-color: globals.$dispute-type-late-payment;
  color: globals.$black;
}

.COMMUNICATION_ISSUE {
  background-color: globals.$dispute-type-communication-issue;
  color: globals.$black;
}

.OFF_PLATFORM_TRANSACTION {
  background-color: globals.$dispute-type-off-platform-transaction;
  color: globals.$black;
}

.TRADE_TIMEOUT {
  background-color: globals.$dispute-type-trade-timeout;
  color: globals.$black;
}

.ABUSIVE_BEHAVIOR {
  background-color: globals.$dispute-type-abusive-behavior;
  color: globals.$white;
}

.IDENTITY_MISMATCH {
  background-color: globals.$dispute-type-identity-mismatch;
  color: globals.$black;
}

.PLATFORM_ERROR {
  background-color: globals.$dispute-type-platform-error;
  color: globals.$black;
}

.SUSPICIOUS_ACTIVITY {
  background-color: globals.$dispute-type-suspicious-activity;
  color: globals.$black;
}

.SCAM {
  background-color: globals.$dispute-type-scam;
  color: globals.$white;
}

.OTHER {
  background-color: globals.$dispute-type-other;
  color: globals.$black;
}

.actionsWrapper {
  display: flex;
  gap: 0.25rem;
  button {
    padding: 0.4rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: fit-content;
  }
  .viewDetails {
    color: globals.$primary;
    background-color: globals.$black;
    font-weight: 700;
  }
  .cancel {
    background-color: globals.$danger;
    color: globals.$white;
  }
  .dispute {
    background-color: globals.$trade-status-disputed;
    color: globals.$white;
  }
  .viewOngoing {
    background-color: #4b90ff;
    color: globals.$white;
  }
}
