@use "../../../styles/globals.module.scss";

.container {
  width: 1400px;
  min-height: calc(globals.$main-content-height - 1rem);
  margin: 0 auto 1rem auto;
  display: grid;
  grid-template-rows: 35% 65%;
  grid-template-columns: 45% 55%;
  gap: 1rem;
  padding: 1rem 0;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
