name: Deploy to DigitalOcean

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to DigitalOcean
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.DIGITAL_OCEAN_HOST }}
        username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
        key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
        script: |
          export TAG=${{ github.sha }}
          export DATABASE_URL=${{ secrets.DATABASE_URL }}
          cd /app
          docker-compose -f prod.docker-compose.yml up -d --build

