name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install doctl (DigitalOcean CLI)
        run: |
          curl -sL https://github.com/digitalocean/doctl/releases/latest/download/doctl-linux-amd64.tar.gz -o doctl.tar.gz
          file doctl.tar.gz

      - name: Authenticate with DigitalOcean
        run: doctl auth init --access-token "${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}"

      - name: Verify Authentication
        run: doctl account get

      - name: Connect to Droplet and Deploy
        run: |
          ssh -o StrictHostKeyChecking=no root@${{ secrets.DROPLET_IP }} << 'EOF'
            cd app/
            git pull origin main
            docker compose -f prod.docker-compose.yml up --build -d
          EOF
