$primary: #ffcd2b;
$primary-darken-10: #ffc70d;
$primary-darken-15: #fdc300;
$primary-darken-20: #eeb700;
$primary-darken-25: #dfac00;
$primary-transparent: rgba($primary, 0.2);
$primary-hover-background-color: #f8f8f3;
$secondary: #000;

$success-color: #28a745;
$success-background-color: rgba(40, 167, 69, 0.1);
$danger-color: #dc3545;
$danger-background-color: rgba(220, 53, 69, 0.1);
$warning-color: #ffc107;
$warning-background-color: rgba(255, 193, 7, 0.1);
$neutral-color: #8d8d8d;
$neutral-background-color: rgb(238, 238, 238);

$text-color-dark: #222;
$text-description-color: #727272;

$border-color-dark: #000;

$white: #fff;
$black: #000;
$input-border-color: #c0c0c0;
$grey-background: #e2e2e2;
$grey: #a2a2a2;
$grey-select-input: #e8e8e8;
$status-online: #1bbb2b;
$status-offline: #ff3a3a;
$status-away: #fed141;
$feedback-positive: #1bbb2b;
$feedback-negative: #ff3a3a;
$feedback-neutral: #a6a6a6;
$progress-bar-separator-color: #ddd;
$blue-check: #0585ff;

$navbigation-bar-height: calc(4rem);
$footer-height: calc(23rem);
$main-content-height: calc(100vh - $navbigation-bar-height - $footer-height);

$box-shadow-default-color: rgba(0, 0, 0, 0.3);
$hover-button-background-color: rgba(0, 0, 0, 0.07);
$semi-transparent-background: rgba(0, 0, 0, 0.2);

$font-size-s: 0.8rem;
$font-size-m: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.4rem;

$border-radius-100: 2rem;
$border-radius-4: 0.4rem;
